

/* Big tablet to 1200px (widths smaller that the 1140px row) */
@media only screen and (max-width:1200px) {
    .hero-text-box {
        width: 100%; 
        padding: 0 2%;
    }
    
    .row {padding: 0 2%;}
}   

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width:1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }
      
    .contact-form { width: 80%; }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width:767px) {
    body { font-size: 16px; }
    section {padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }    
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }   
    .main-nav {display: none; }
    
    h1 {font-size: 170%; }
    h2 {font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    footer p {
        font-size: 70%;
    }
    
    .btn-ghost {
        float: right;
    }
    
    .meal-photo img:hover {
        -webkit-transform: scale(1.11);
        -ms-transform: scale(1.11);
        transform: scale(1.11);
    }
    
}

/* Small phones: from  0 to 480px */
@media only screen and (max-width:480px) {
    section { padding: 25px 0; }
    .contact-form { width: 100%;}  
    
    .footer {
        font-size: 40%;
    }
} 
