

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section {padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }    
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }   
    .main-nav {display: none; }
    
    h1 {font-size: 170%; }
    h2 {font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    footer p {
        font-size: 95%;
    }
}
/* Small phones: from  0 to 480px */
@media (max-width: 480px) {
    section { padding: 25px 0; }
    .contact-form { width: 100%;}
    
} 